.producto__detalles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
}

.producto__detalles--grid{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 100px 100px 100px 1fr;
    grid-template-areas: "img nombre nombre"
                         "img precio counter"
                         "img . ."
                         "des des des";

    margin: 40px;
    width: 50%;
}

.producto__detalles__imagen {
    grid-area: img;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding: 30px;
}

.producto__detalles__nombre{
    grid-area: nombre;
    text-align: justify;
}

.producto__detalles__precio {
    grid-area: precio;
    font-size: 30px;
    color: #1f487e;
    font-weight: initial;
    align-self: center;
}

.producto__detalles__counter{
    grid-area: counter;
}

.producto__detalles__descripcion{
    grid-area: des;
    padding: 13px;
    font-weight: initial;
    font-size: 22px;
    text-align: justify;
}

@media only screen and (max-width: 1465px){
    .producto__detalles--grid{
        grid-template-columns: 50% 50%;
        grid-template-rows: 150px 50px 50px 1fr;
        grid-template-areas: "img nombre"
                             "img precio"
                             "img counter"
                             "des des";
    }
}

@media only screen and (max-width: 1055px){
    .producto__detalles--grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "img"
                             "nombre"
                             "precio"
                             "counter"
                             "des";
    }
}