.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.counter--grid{
    display: grid;
    grid-template-columns: 1fr 30px 30px 30px;
    grid-template-rows: 1fr;
    grid-template-areas: "sumarCarro sumarProd num restarProd";
    align-items: center;
    justify-items: center;
    height: 100%;
}

.counter__sumarCarro{
    grid-area: sumarCarro;
}

.counter__sumarProducto{
    grid-area: sumarProd;
    font-size: 30px;
}

.counter__numero{
    grid-area: num;
    margin: 0;
}

.counter__restarProducto{
    grid-area: restarProd;
}

.btn-counter{
    background-color: #376996;
    border: 1px solid black;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s all;
}

.btn-counter:hover {
    background-color: #d8d4d5;
    color: #1f487e;
}