.producto--grid {
    display: grid;
    grid-template-columns: 1fr 30% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "img nombre nombre"
        "img precio comprar";
    background-color: white;
    margin: 30px 0;
    
    box-shadow: 0px 10px 13px -7px #000000, 0px 3px 15px 5px rgba(0,0,0,0);
}

.producto__img {
    grid-area: img;
    justify-self: center;
    height: 200px;
    width: 200px;
}

.producto__nombre {
    grid-area: nombre;
    width: 80%;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    margin: 0;
}
.producto__precio {
    grid-area: precio;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    margin: 0;
}
.producto__comprar {
    grid-area: comprar;
    justify-self: center;
    align-self: center;
    height: 50%;
}
.producto__detalles{
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    .producto--grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100px 50px 100px;
        grid-template-areas: "img"
                             "nombre"
                             "precio"
                             "comprar";
    }
}