.navbar__title{
  text-decoration: none;
  color: white;
}

.navbar__title:hover{
  color: white;
}
  
.header__navegacion__lista__elemento {
  color: black;
  border-radius: 10px;
  transition: all 0.5s;
}
  
.header__navegacion__lista__elemento:hover{
  color: black;
  background-color: black;
}

.navbar-collapse{
  flex-grow: 0;
}

.nav-link{
  text-align: center;
}
  